extends ../layout

block content
    h1= name
        each photo in Photos
          img(src=`${process.env.PHOTO_PATH}${photo.url}`, alt=name, width=200)
    h2 Ingredients
    ul
        each ingredient in Ingredients
          li= ` ${ingredient.RecipeIngredients.quantity} ${ingredient.RecipeIngredients.unit} ${ingredient.name}` 
    h2 Procedure
    p= procedure
